/**
 Custom CSS File
*/
html,body {
  height: 100%;
  padding: 0 !important;
}
body {
  background-color: #f4f4f4 !important;
}

.bg-pale-gold {
  background-color: #c0b283;
}

.btn-pale-gold-dark {
  background-color: #6f6338;
  font-weight: bold;
  color: whitesmoke;
}

.margin-top {
  margin-top: 30px;
}

.medium-margin-top {
  margin-top: 60px;
}

.listing {
  padding: 0px;
  list-style: none;
}

.listing li {
  margin-bottom: 25px;
}

.listing .domain {
  @include rfs(3);
}

.listing h4 {
  padding-left: 5px;
  position: relative;
  display: inline;
  @include rfs(18);
}

.listing .score {
  padding: 2px;
  margin: 0;
  @include rfs(14);
  font-weight: bold;
}

.listing .author {
  @include rfs(12);
}

.right-box {
  border-radius: 5px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .35);
  padding: 10px;
}